{% extends "tafe/base_site_applicants.html" %}
{% load admin_urls %}
{% comment %}

Applicant list page of the portal.

{% endcomment %}

{% block title %}
List of applicants enrolled
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
  <div class="grid_12">
      <div id="list" class="grid_5">
      <h3>Applicant register</h3>
      {% if applicants_by_course %}
         {% for course in applicants_by_course.keys %}
              <a href="#{{ course.name }}">{{ course.name }}</a> | 
         {% endfor %}
           {% for course, list in applicants_by_course.items %}
              <h3 id="{{ course.name }}">{{ course.name }}</h3>
              <ul>
                  {% for applicant in list|dictsort:"first_name" %}
                  <li><a href="{{ applicant.get_absolute_url }}">{{ applicant }}</a> | 
                  <a href="/admin/tafe/applicant/{{ applicant.pk }}/"><i>edit</i></a></li>
                  {% endfor %}
              </ul>
              </li>
          {% endfor %}
      {% else %}
          <p>No applicants are available.</p>
      {% endif %}
      </div>
{% endblock %}
