{% extends "tafe/base_site.html" %}
{% load comments %}
{% comment %}
Assessment detail page of the portal.
{% endcomment %}

{% block title %}
    Assessment detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left" class="grid_12">
    <div id="bio" class="grid_5">
        <h4>{{ assessment.subject }}</h4>
        <p>Name of assessment: {{ assessment.name }}</p>
        <p>Date assessment given: {{ assessment.date_given }}</p>
        <p>Date assessment is due: {{ assessment.date_due }}</p>
    </div>
    <div id="results" class="grid_6">
        <h5>Results</h5>
    {% for result in assessment.results.all %}
    <p><a href="{{ result.grade.student.get_absolute_url}}">{{ result.grade.student }}</a>: {{ result.get_mark_display }}</p>
    {% endfor %}
    </div>
    <div class="clear"></div>

    <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for assessment %}
        <div class="clear"></div>
        {% render_comment_form for assessment %}
    </div>
</div>
{% endblock %}
