{% extends "tafe/base_site.html" %}

{% comment %}
Session detail page of the portal.
{% endcomment %}

{% block title %}
    Session detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    {{ session.get_session_number_display }}<br />

    {{ session.subject.name }}<br />

    {{ session.date }}<br />

    <h4>Attendance</h4>
    <form method="post" action="">
        <h5>Staff</h5>
        {{ staff_formset }}
        <h5>Students</h5>
        {{ student_formset.management_form }}
        {% for form in student_formset %}
            {{ form }}<br />
        {% endfor %}
    </form>
</div>
{% endblock %}
