{% extends "tafe/base_site.html" %}
{% comment %}

Attendance list page of the portal.

{% endcomment %}

{% block title %}
Attendance list
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
{{ block.super }}

{% if attendance_list %}
    {% regroup attendance_list|dictsort:"session.date" by session.date as dated_list %} 
    {% for date in dated_list %}
        <a href="#{{ date.grouper }}">{{ date.grouper }}</a>
    {% endfor %}
    {% for date in dated_list %}
        <h3 id="{{ date.grouper }}">{{ date.grouper }}</h3>
        <ul>
            {% for attendance in date.list %}
                <li><a href="{{ attendance.get_absolute_url }}">{{ attendance }}</a></li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
{% else %}
    <p>No people are available.</p>
{% endif %}
{% endblock %}
