{% extends "tafe/base_site.html" %}

{% comment %}
Attendance detail page of the portal.
{% endcomment %}

{% block title %}
    Attendance detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left" class="grid_12">
    <div id="list" class="grid_5">
    {{ attendance.session.subject.name }}<br />
    {{ attendance.session.date }}<br />
    {{ attendance.student }}<br />
    {{ attendance.get_reason_display }}<br />
    {% if attendance.absent %}
        {{ attendance.get_absent_display }}<br />
    {% endif %}
    <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for attendance %}
        <div class="clear"></div>
        {% render_comment_form for attendance %}
    </div>
    <div id="admin" class="grid_4">
    <h5>Admin</h5>
    {{ attendance.last_change_by }}
    </div>
</div>
{% endblock %}
