{% extends "tafe/base_site.html" %}

{% comment %}
Subject detail page of the portal.
{% endcomment %}

{% block title %}
    Attendance detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    {{ attendance.session.subject.name }}<br />
    {{ attendance.session.date }}<br />
    {{ attendance.student }}<br />
    {{ attendance.get_reason_display }}<br />
    {% if attendance.absent %}
        {{ attendance.get_absent_display }}<br />
    {% endif %}
    <h5>Admin</h5>
    {{ attendance.last_change_by }}
</div>
{% endblock %}
