{% extends "tafe/base_site.html" %}

{% comment %}
Session detail page of the portal.
{% endcomment %}

{% block title %}
    Session detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left" class="grid_12">
    <div id="list" class="grid_8">
    {{ session.get_session_number_display }}<br />

    {{ session.subject.name }}<br />

    {{ session.date }}<br />

    <h4>Attendance</h4>
    <form method="post" action="">{% csrf_token %}
        <h5>Staff</h5>
        {{ staff_formset }}
    <div class="clear"></div>     
        <h5>Students</h5>
        {{ student_formset.management_form }}
        {% for form in student_formset %}
        <p>{{ form }}</p>
        {% endfor %}
    <p><input type="submit" value="Submit" /></p>
</form>
</div>
</div>
{% endblock %}
