{% extends "tafe/base.html" %}
{% load admin_static %}

{% block title %}{{ title }}KIT Student Management System{% endblock %}

{% block branding %}{{ block.super }}
    <a href="/tafe/"><h1 id="site-name">KIT Student Management System</h1></a>
{% endblock %}

{% block breadcrumbs %}
<ul class="sf-menu clear">
    <li class="current"><a href="/tafe/">Home</a></li>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    <li><a href="/tafe/applicants/">Applicants</a>
        <ul>
            <li><a href="/tafe/applicants/successful/">Successful Applicants</a>
            <li><a href="/admin/tafe/applicant/add/">New Applicants</a>
        </ul>
    </li>
    <li><a href="/tafe/students/">Students</a>
        <ul>
            <li><a href="/tafe/students/">List all enrolled students</a></li>
            <li><a href="/tafe/students/all/">List all students</a></li>
            <li><a href="/admin/tafe/student/add/">Add a new Student</a></li>
        </ul>        
    </li>
    <li><a href="/tafe/staff/">Staff</a>
        <ul>
            <li><a href="/tafe/staff/all/">List all staff</a></li>
            <li><a href="/admin/tafe/staff/add/">Add a new Staff Member</a></li>
        </ul>        
    </li>
    <li><a href="/tafe/qualifications/">Qualifications</a>
        <ul>
            <li><a href="/admin/tafe/qualification/add/">Add a new Qualification</a></li>
            <li><a href="/tafe/enrolments/">Enrolments</a></li>
        </ul>
    </li>
    <li><a href="/tafe/units/">Units</a>
        <ul>
            <li><a href="/tafe/session/create/">Create a new recurring session</a></li>
            <li><a href="/tafe/grades/">Grades</a></li>
            <li><a href="/tafe/attendance/all/">Attendance</a></li>
        </ul>
    </li>
    <li><a href="/tafe/timetables/">Timetables</a>
        <ul>
            <li><a href="/tafe/timetable/this_week/">This week's timetable</a></li>
            <li><a href="/tafe/timetable/today/">Today's timetable</a></li>
        </ul>
    </li>
    <li><a href="/search/">Search</a></li>
    {% if user.is_active and user.is_staff %}
        <li><a href="/admin/">Admin</a></li>
    {% endif %}
</ul>  
{% endblock %}
