{% extends "tafe/base_site.html" %}

{% comment %}
Course detail page of the portal.
{% endcomment %}

{% block title %}
    Qualification detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    <h3>{{ course.name }}</h3>
    <h4>Subjects:</h4>
    {% for subject in course.subjects.all %}
        <a href="{{ subject.get_absolute_url}}">{{ subject.name }}</a><br />
    {% endfor %}
    <h4>Enrolled Students</h4>
    Total Students: {{ course.count_students }} | Female Students: {{ course.count_females }} | Male Students: {{ course.count_males }}<br />
    <br />
    {% for student in course.students.all %}
        <a href="{{ student.get_absolute_url}}">{{ student }}</a><br />
    {% endfor %}
</div>
{% endblock %}
