{% extends "tafe/base_site.html" %}
{% comment %}

Course list page of the portal.

{% endcomment %}

{% block title %}
    Qualification list
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div class="grid_12">
    <div id="bio" class="grid_5">    
    <h3>Qualifications Available</h3>    
    {% if course_list %}
        <h3 id="{{ letter.grouper }}">{{ letter.grouper }}</h3>
        <ul>
            {% for course in course_list %}
            <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses are available.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
