{% extends "tafe/base_site.html" %}
{% load comments %}
{% comment %}
Enrolment detail page of the portal.
{% endcomment %}

{% block title %}
   Enrolment Record
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left" class="grid_12">
    <div id="bio" class="grid_5">
        <h3>{{ enrolment.student }} - {{ enrolment.course }}</h3>
        Date started: {{ enrolment.date_started }}<br />
        {% if enrolment.date_ended %}
        Date ended: {{ enrolment.date_ended }}<br />
        {% endif %}
        <p>
        Semester 1 payment: {{ enrolment.get_semester_1_payment_display }} <br>
        {% if enrolment.semester_1_payment == "P" %}
        Semester 1 payment receipt: {{ enrolment.semester_1_payment_receipt }}<br>
        Semester 1 payment data: {{ enrolment.semester_1_payment_date }}<br>
        {% endif %}
        </p>
        <p>
        Semester 2 payment: {{ enrolment.get_semester_2_payment_display }} <br>
        {% if enrolment.semester_2_payment == "P" %}
        Semester 2 payment receipt: {{ enrolment.semester_2_payment_receipt }}<br>
        Semester 2 payment data: {{ enrolment.semester_2_payment_date }}<br>
        {% endif %}
        </p>
        {% if enrolment.mark %}
        Mark: {{ enrolment.mark }}<br />
        {% endif %}
    </div>
    <div id="grades" class="grid_4">
        <h4>Classes Available</h4>
        {% for unit in enrolment.course.subjects.all %}
        <a href="{{ unit.get_absolute_url }}">{{ unit }}</a><br />
        {% endfor %}
    </div>
    <div class="clear"></div>     
    <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for enrolment %}
        <div class="clear"></div>
        {% render_comment_form for enrolment %}
    </div>
    <div id="admin" class="grid_4">
        <h5>Admin</h5>
        Last change by: {{ enrolment.last_change_by }}<br />
        Penultimate change by: {{ enrolment.penultimate_change_by }}
    </div>
</div>
{% endblock %}
