{% extends "tafe/base_site.html" %}

{% comment %}
Grade detail page of the portal.
{% endcomment %}

{% block title %}
   Grade Record
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    <h3>{{ grade.student }} - {{ grade.subject }}</h3>
    Date started: {{ grade.date_started }} <br />

    <h4>Results</h4>
    {% if grade.results|length > 0 %}
        
        {% for result in grade.results.all %}
        {{ result.date }}: <a href="{{ result.get_absolute_url }}">{{ result.name }}, {{ result.mark }}</a><br />   
        {% endfor %}
    {% else %}
        No results recorded yet
    {% endif %}
    <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for grade %}
        {% render_comment_form for grade %}
    </div>
    <div id="admin" class="grid_4">
    </div>

</div>


{% endblock %}
