{% extends "tafe/base_site.html" %}

{% comment %}
Session detail page of the portal.
{% endcomment %}

{% block title %}
    Session detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    {{ session.get_session_number_display }}<br />

    {{ session.subject.name }}<br />

    {{ session.date }}<br />

    <h4>Students and attendance</h4>
    {% for record in session.attendance_records.all %}
    <a href="{{ record.get_absolute_url }}">{{ record.student }}, {{ record.get_reason_display }}</a><br />
    {% endfor %}

</div>
{% endblock %}
