{% extends "tafe/base_site.html" %}

{% comment %}
Session detail page of the portal.
{% endcomment %}

{% block title %}
    Session detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    <h3>{{ session.date }}: {{ session.get_session_number_display }}</h3>

    <h2><a href="{{ session.subject.get_absolute_url }}">{{ session.subject.name }}</a></h2>
    Room Number: {{ session.get_room_number_display }}<br />

    {% if staff_attendance %}
        {{ staff_attendance }}
    {% else %}
        No staff assigned yet
    {% endif %}

    <p><a href="{{ session.get_absolute_url }}attendance">Mark attendance for this class</a></p>
    <h4>Students and attendance</h4> 
    {% for record in attendance.all %}
    <a href="/tafe/attendance/{{ session.date.year}}/{{ session.date.month }}/{{ session.date.day }}/{{ record.slug }}">{{ record.student }}, {{ record.get_reason_display }}</a><br />
    {% endfor %}

</div>
{% endblock %}
