{% extends "tafe/base_site.html" %}
{% load comments %}
{% comment %}
Staff detail page of the portal.
{% endcomment %}

{% block title %}
Staff detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    <div id="bio">
    <h2>{{ staff }}</h2>
    Date of birth: {{ staff.dob }}<br />
    Age: {{ staff.age_today }}<br />
    Gender: {{ staff.get_gender_display }}<br />
    Island: {{ staff.get_island_display }}<br />
    {% if staff.phone %}
    Phone: {{ staff.phone }}<br />
    {% endif %}
    {% if staff.phone2 %}
    Phone: {{ staff.phone2 }}<br />
    {% endif %}
    {% if staff.email %}
    Email: {{ staff.email }}<br /> 
    {% endif %}
    {% if staff.disability %}
    Disability: {{ staff.disbility_description }}<br /><br />
    {% endif %}
    </div>
    <hr> 
    <div id="Credentials">
        Classification: {{ staff.get_classification_display }}<br />
        
        <h4>Credentials</h4>
        {% if staff.credential.count > 0 %}
        {% for cred in staff.credential.all %}
        <p>
        Name: {{ cred.name }}<br />
        AQF Level: {{ cred.get_aqf_level_display }}<br />
        Institution: {{ cred.institution }}<br />
        Year: {{ cred.year }}<br />
        </p>
        {% endfor %}
        {% endif %}

        <h4>ISLPR records</h4>
        Reading: {{ staff.get_islpr_reading_display }}<br />
        Writing: {{ staff.get_islpr_writing_display }}<br />
        Speaking: {{ staff.get_islpr_speaking_display }} <br />
        Listening: {{ staff.get_islpr_listening_display }}<br />
        Overall: {{ staff.get_islpr_overall_display }}<br />
    </div>
    
       <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for staff %}
        <div class="clear"></div>
        {% render_comment_form for staff %}
    </div>
    <div id="admin" class="grid_4">
 
    <h5>Admin</h5>
    Date added: {{ staff.added }}<br />
    Date last changed: {{ staff.updated }}
    </div>
</div>
{% endblock %}
