{% extends "tafe/base_site_students.html" %}
{% load admin_urls %}
{% comment %}

Applicant list page of the portal.

{% endcomment %}

{% block title %}
List of applicants enrolled
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
  <div class="grid_12">
      <div id="list" class="grid_5">
      <h3>Studentlist by Qualification</h3>
      {% if enrolments %}
         {% regroup enrolments|dictsort:"course.name" by course as course_list %}
         {% for course in course_list %}
              <a href="#{{ course.grouper }}">{{ course.grouper }}</a> | 
         {% endfor %}
         {% regroup enrolments|dictsort:"course.name" by course as course_list %}
        {% for course in course_list %}
        <h3><a href="#{{ course.grouper }}">{{ course.grouper }}</a></h3>
            <ul>
                {% for enrolment in course.list %}
                    <li>{{ enrolment.student }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

         
         {% for enrolment in enrolments %}
          <h3 id="{{ course.name }}">{{ course.name }}</h3>
          <ul>
              {% for applicant in list|dictsort:"first_name" %}
              <li><a href="{{ applicant.get_absolute_url }}">{{ applicant }}</a> | 
              <a href="/admin/tafe/applicant/{{ applicant.pk }}/"><i>edit</i></a></li>
              {% endfor %}
          </ul>
          </li>
        {% endfor %}
      {% else %}
          <p>No students are available.</p>
      {% endif %}
      </div>
{% endblock %}
