{% extends "tafe/base_site.html" %}

{% comment %}
Student reports page of the portal.
{% endcomment %}

{% block title %}
Student Reports 
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left" class="grid_12">
    <div id="stats" class="grid_12">
    {%  if not stats %}
    <h5>Sorry, there are no enrollments at the moment.</h5>
    {% else %}
    {% for name, stat in stats.items %}    
        <table>
            <caption>{{ name }} Student Enrolments</caption>
            <colgroup span="4" />
                <thead>
                    <tr>
                        <th scope="col">Statistic</th>
                        <th scope="col">Female</th>
                        <th scope="col">Male</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr><th colspan="4">Date created: </th></tr>
                </tfoot>
                <tbody> 
                    <tr>
                        <td><h4>Students, 16-24</h4></td>
                        <td>{{ stat.queryset_24f }} ({{ stat.queryset_24f_pc }}%)</td>
                        <td>{{ stat.queryset_24m }} ({{ stat.queryset_24m_pc }}%)</td>
                        <td>{{ stat.queryset_24 }} ({{ stat.queryset_24_pc }}%)</td>
                    </tr>                        
                    <tr>
                        <td><h4>Students, 25+</h4></td>
                        <td>{{ stat.queryset_25f }} ({{ stat.queryset_25f_pc }}%)</td>
                        <td>{{ stat.queryset_25m }} ({{ stat.queryset_25m_pc }}%)</td>
                        <td>{{ stat.queryset_25 }} ({{ stat.queryset_25_pc }}%)</td>
                    </tr>                        
                    <tr>
                        <td><h4>Outer Islands</h4></td>
                        <td>{{ stat.outer_f }} ({{ stat.outer_f_pc }}%)</td>
                        <td>{{ stat.outer_m }} ({{ stat.outer_m_pc }}%)</td>
                        <td>{{ stat.outer }} ({{ stat.outer_pc }}%)</td>
                    </tr>                        
                    <tr>
                        <td><h4>Disability</h4></td>
                        <td>{{ stat.disability_f }} ({{ stat.disability_f_pc }}%)</td>
                        <td>{{ stat.disability_m }} ({{ stat.disability_m_pc }}%)</td>
                        <td>{{ stat.disability }} ({{ stat.disability_pc }}%)</td>
                    </tr>                        
                    <tr>
                        <td><h4>Totals</h4></td>
                        <td>{{ stat.queryset_f }} ({{ stat.queryset_f_pc }}%)</td>
                        <td>{{ stat.queryset_m }} ({{ stat.queryset_m_pc }}%)</td>
                        <td>{{ stat.queryset }} ({{ stat.queryset_pc }}%)</td>
                    </tr>                        
                </tbody>
                </div>
            </table>
            {% endfor %}
        {% endif %}
    </div><!-- stats -->
</div>
{% endblock %}
