{% extends "tafe/base_site.html" %}

{% comment %}
Subject detail page of the portal.
{% endcomment %}

{% block title %}
    Unit detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    {{ subject }}
    <h2>{{ subject.name }} - Semester {{ subject.get_semester_display }}, {{ subject.year }}</h2>

    <h4>Student records</h4>
    {% for grade in subject.grades.all %}
    <a href="{{ grade.student.get_absolute_url}}">{{ grade.student }}</a>: <a href="{{ grade.get_absolute_url }}">{{ grade.subject }}</a><br />
    {% endfor %}
    <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for grade %}
        {% render_comment_form for grade %}
    </div>

</div>
{% endblock %}
