{% extends "tafe/base_site.html" %}

{% comment %}
Timetable detail page of the portal.
{% endcomment %}

{% block title %}
Timetable detail
{% endblock %}

{% block content %}
<div id="content-left">
    <h3>Timetable: {{ date|date }}</h3>
    <table> 
        <tr>
            <td>Session</td>
            <td>Classes</td>
        </tr>
        {% for session in daily_sessions %}
        <tr>
            <td>{{ session.name}}</td>
            <td>
            {% for subject in session %}
                {{ subject }}<br />
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}
