{% extends "tafe/base_site.html" %}

{% comment %}
Timetable detail page of the portal.
{% endcomment %}

{% block title %}
Timetable detail
{% endblock %}

{% block content %}
<div id="content-left">
    <h3>{{ timetable.year }}, Term {{ timetable.term }} Timetable</h3>
    <table> 
        <tr>
            <td>Day</td>
            <td>Morning 1</td>
            <td>Morning 2</td>
            <td>Afternoon 1</td>
            <td>Afternoon 2</td>
            <td>Other</td>
        </tr>
        {% for day in all_sessions %}
        <tr>
            <td>{{ day.0.0.0.0.get_session_number_display }}</td>
            {% for session in day %}
                {% for grade in session %}
                    <td>
                    {% for x in grade %}
                        {% for y in x %}
                        <a href="{{ y.get_absolute_url }}">{{ y.subject.name }}</a><br />
                        {% endfor %}
                    {% endfor %}
                    </td>    
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
