{% extends "tafe/base_site.html" %}

{% comment %}
This week's Timetable detail page of the portal.
{% endcomment %}

{% block title %}
Timetable detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left" class="grid_12">
    <div id="timetable" class="grid_7">
    <h3>{{ timetable.year }}, Term {{ timetable.term }} Timetable</h3>
    <table> 
        <tr>
            <td>Day</td>
            <td>Morning 1</td>
            <td>Morning 2</td>
            <td>Afternoon 1</td>
            <td>Afternoon 2</td>
            <td>Other</td>
        </tr>
        {% for day in all_sessions %}

        <tr>
            <td>{{ day.0.0.0.day_of_week }}</td>
            {% for sessions in day %}
                {% for session in sessions %}
                    <td>
                    {% for class in session %}
                        <a href="{{ class.get_absolute_url }}">{{ class.subject.name }}</a><br />
                    {% endfor %}
                    </td>    
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
