{% extends "tafe/base_site.html" %}

{% comment %}
Subject/Unit detail page of the portal.
{% endcomment %}

{% block title %}
    Unit detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    <h2>{{ unit.name }} - Semester: {{ unit.get_semester_display }}, {{ unit.year }}</h2>

    This week's classes:<br />
    {% for session in unit.this_weeks_sessions %}
        <a href="{{ session.get_absolute_url }}">{{ session.day_of_week }}: {{ session.get_session_number_display }}</a><br />
    {% endfor %}

    <h4>Assessments</h4>
    {% for test in unit.assessments.all %}
    <a href="{{ test.get_absolute_url }}">{{ test }}</a><br />
    {% endfor %} 
    <h4>Student attendance records</h4>
    {% for grade in unit.grades.all %}
    <a href="{{ grade.student.get_absolute_url}}">{{ grade.student }}</a>: <a href="{{ grade.get_absolute_url }}">{{ grade.subject }}</a><br />
    {% endfor %}

    <table>
        <tr><td>Student Name</td>
            {% for day in dates %}
               <td>{{ day.0|date:"d/m" }} {{ day.1.0 }}</td>
            {% endfor %}
        </tr>
        {% for student in unit_attendance_matrix %}
        <tr>
            {% for attendance in student %}
            <td>{{ attendance }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
