{% extends "tafe/base_site.html" %}
{% load comments %}
{% comment %}
Subject/Unit detail page of the portal.
{% endcomment %}

{% block title %}
    Unit detail
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block content %}
<div id="content-left">
    <div id="bio" class="grid_5">
        <h2>{{ unit.name }}</h2>
        <a href="/admin/tafe/subject/{{ unit.pk }}">Edit this Unit</a>        <h3>Semester: {{ unit.get_semester_display }}, {{ unit.year }}</h3>
        {% if unit.course.count > 0 %}
            <h3>Qualifications this subject is available in</h3>
            {% for course in unit.course.all %}
            <p><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></p>
            {% endfor %}
        {% endif %}

    </div>
    <div id="sessions" class="grid_5">
        <h3>This week's classes</h3>
        {% for session in unit.this_weeks_sessions %}
            <a href="{{ session.get_absolute_url }}">{{ session.day_of_week }}: {{ session.get_session_number_display }}</a><br />
        {% endfor %}
    </div>
    <div class="clear"></div>
    <div id="assessments" class="grid_5">
        <h4>Assessments</h4>
        <a href="{{ unit.get_absolute_url }}add-assessment/">Add an assessment for this unit</a>
        {% for test in unit.assessments.all %}
        <a href="{{ test.get_absolute_url }}">{{ test.name }}</a> {{ test.date_due }}<br />
        {% endfor %} 
    </div>
    <div class="clear"></div>
    <div id="attendance_results" class="grid_11">
        <h4>Student attendance and results records</h4>
        <table>
            <tr><td>Student Name</td>
                {% for session in sessions %}
                <td><A href="{{ session.get_absolute_url }}">{{ session.date|date:"d/m" }}</a></td>
                {% endfor %}
                <td>|</td>
                {% for assessment in assessments %}
                <td>{{ forloop.counter }}</td>
                {% endfor %}
            </tr>
            {% for student in unit_attendance_matrix %}
            <tr>
                {% for attendance in student %}
                <td>{{ attendance }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div><!-- end id=attendance -->

    <div id="comments" class="grid_5">
        <h5>Comments</h5>
        {% render_comment_list for unit %}
        
        {% render_comment_form for unit %}
    </div>

</div>
{% endblock %}
